body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
}